{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jolka Jolka</h1>

    <pre>
    Jolka, Jolka, pamiętasz lato ze snu,
    Gdy pisałaś: "tak mi źle,
    Urwij się choćby zaraz, coś ze mną zrób,
    Nie zostawiaj tu samej, o nie".

    Żebrząc wciąż o benzynę, gnałem przez noc,
    Silnik rzęził ostatkiem sił,
    Aby być znowu w Tobie, śmiać się i kląć,
    Wszystko było tak proste w te dni.

    Dziecko spało za ścianą, czujne jak ptak,
    Niechaj Bóg wyprostuje mu sny!
    Powiedziałaś, że nigdy, że nigdy aż tak
    słodkie były, jak krew Twoje łzy
    </pre>
{% endblock %}
